{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/icon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <title>Mi cuenta</title>
</head>
<body>
    <header class="header">
        <div class="container"> 
            <div class="logo">
                <a href="{% url 'index' %}"><img src="../../../static/img/logo.png" alt="Pulmora Logo" class="logo-img" ></a>
            </div>
            <nav class="nav">
                <a href="{% url 'community' %}">Comunidad</a>
                <a href="#datos">Datos</a>
                <a href="#educacion">Educación</a>
            </nav>
        </div>
    </header>
    
    <form action="{% url 'logout' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="logout">Cerrar sesión</button>
    </form>
</body>
</html>

<!--Datos del usuario de prueba-->
<!--Tatsuohi-->
<!--Z96Zb6JZWrubWSu-->