{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/icon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <title>Mi cuenta</title>
</head>
<body>
    {% include 'pulmora/partials/header.html' %}
    <div class="main-container">
        
        <div class="construccion">
            <h2>Disculpen, pagina aún en construcción</h2>
            <p class="subtitle">Tengan esta bocchi girando por mientras</p>
            <a href="{% url 'edit_account' %}">
                <button class="btn btn-primary">Iniciar Seisón</button>
            </a>
            <a href="https://www.tiktok.com/@anya_y_bocchi1/video/7557473049725963531?q=bocchi%20bailando&t=1761284114106"><img src="{% static 'img/bocchi-spin.gif' %}"></a>
        </div>

        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="logout">Cerrar sesión</button>
        </form>

    </div>

</body>
</html>

<!--Datos del usuario de prueba-->
<!--Tatsuohi-->
<!--Z96Zb6JZWrubWSu-->