<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/pulmora.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../static/css/community.css">
    <title>Comunidad Pulmora</title>
</head>
<body>
    <header class="header">
        <div class="container"> 
            <div class="logo">
                <a href="{% url 'index' %}"><img src="../../../static/img/logo.png" alt="Pulmora Logo" class="logo-img" ></a>
            </div>
            <nav class="nav">
                <a href="{% url 'community' %}">Comunidad</a>
                <a href="#datos">Datos</a>
                <a href="#educacion">Educación</a>
            </nav>
            <div class="header-buttons" id="auth-buttoms">
                <a href="{% url 'register' %}"><button class="btn-register">Registrarse</button></a>
                <a href="{% url 'login' %}"><button class="btn-login">Iniciar sesion</button></a>
            </div>
        </div>
    </header>
</body>
</html>