{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pulmora</title>
    <link rel="shortcut icon" href="{% static 'img/icon.ico' %}" type="image/x-icon"><!--The logo of pulmora-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!--call the .css archive-->
</head>

<!--this are all the things that are buttons, icon, etc-->
<body>
    
    {% include 'pulmora/partials/header.html' %}
    
    <!--the principal section, the first thing the user sees-->
    <section class="hero">
        <div class="container">
            <div class="hero-content">
                <div class="hero-text">
                    <h1>El planeta respira contigo</h1>
                    <h2 class="subtitle">Ayudemos a limpiar el aire</h2>
                    <p class="description">
                        Descubre cuántas emisiones de carbono se generan en el mundo y aprende cómo reducir tu huella personal. Juntos podemos hacer la diferencia para nuestro hogar.
                    </p>
                    <div class="hero-buttons">
                        <a href="{% url 'data' %}"><button class="btn-explore">Explora los datos</button></a>
                        <a href="{% url 'community' %}"><button class="btn-community">Únete a la Comunidad</button></a>
                    </div>
                </div>
                <div class="hero-image">
                    <div class="earth">
                        <img src="{% static 'img/earth.png' %}" alt="Planeta Tierra" class="earth-img">
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>