<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pulmora</title>
    <link rel="shortcut icon" href="/static/img/pulmora.ico" type="image/x-icon"> <!--The logo of pulmora-->
    <link rel="stylesheet" href="static/css/styles.css"> <!--call the .css archive-->
</head>

<!--this are all the things that are buttons, icon, etc-->
<body>
    <header class="header">
        <div class="container"> 
            <div class="logo">
                <img src="static/img/logo.png" alt="Pulmora Logo" class="logo-img">
            </div>
            <nav class="nav">
                <a href="#comunidad">Comunidad</a>
                <a href="#datos">Datos</a>
                <a href="#educacion">Educación</a>
            </nav>
            <div class="header-buttons">
                <a href="{% url 'register' %}"><button class="btn-register">Registrarse</button></a>
                <a href="{% url 'login' %}"><button class="btn-login">Iniciar sesion</button></a>
            </div>
        </div>
    </header>

    <!--the principal section, the first thing the user sees-->
    <section class="hero">
        <div class="container">
            <div class="hero-content">
                <div class="hero-text">
                    <h1>El planeta respira contigo</h1>
                    <h2 class="subtitle">Ayudemos a limpiar el aire</h2>
                    <p class="description">
                        Descubre cuántas emisiones de carbono se generan en el mundo y aprende cómo reducir tu huella personal. Juntos podemos hacer la diferencia para nuestro hogar.
                    </p>
                    <div class="hero-buttons">
                        <button class="btn-explore">Explora los datos</button>
                        <button class="btn-community">Únete a la Comunidad</button>
                    </div>
                </div>
                <div class="hero-image">
                    <div class="earth">
                        <img src="static/img/earth.png" alt="Planeta Tierra" class="earth-img">
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>